.container, .appointmentPanel, .loginPanel, .otpPanel, .passwordPanel, .queryPanel, .signupPanel {
  position: relative;
}

.container #toaster-block, .appointmentPanel #toaster-block, .loginPanel #toaster-block, .otpPanel #toaster-block, .passwordPanel #toaster-block, .queryPanel #toaster-block, .signupPanel #toaster-block {
  padding: 1rem 1.5rem;
  background-color: white;
  top: 1rem;
  right: 1rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.container #toaster-block .msg-block, .appointmentPanel #toaster-block .msg-block, .loginPanel #toaster-block .msg-block, .otpPanel #toaster-block .msg-block, .passwordPanel #toaster-block .msg-block, .queryPanel #toaster-block .msg-block, .signupPanel #toaster-block .msg-block {
  padding: 0rem 4rem 0rem 1.5rem;
  text-align: left;
}

.container #toaster-block .msg-block h4, .appointmentPanel #toaster-block .msg-block h4, .loginPanel #toaster-block .msg-block h4, .otpPanel #toaster-block .msg-block h4, .passwordPanel #toaster-block .msg-block h4, .queryPanel #toaster-block .msg-block h4, .signupPanel #toaster-block .msg-block h4 {
  padding: 0rem;
  font-size: 0.8rem;
}

.container #toaster-block #close, .appointmentPanel #toaster-block #close, .loginPanel #toaster-block #close, .otpPanel #toaster-block #close, .passwordPanel #toaster-block #close, .queryPanel #toaster-block #close, .signupPanel #toaster-block #close {
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

.container .fail, .appointmentPanel .fail, .loginPanel .fail, .otpPanel .fail, .passwordPanel .fail, .queryPanel .fail, .signupPanel .fail {
  border-left: 5px solid red;
}

.container .fail .fa-times-circle, .appointmentPanel .fail .fa-times-circle, .loginPanel .fail .fa-times-circle, .otpPanel .fail .fa-times-circle, .passwordPanel .fail .fa-times-circle, .queryPanel .fail .fa-times-circle, .signupPanel .fail .fa-times-circle {
  font-size: 2rem;
  color: red;
}

.container .fail .msg-block h3, .appointmentPanel .fail .msg-block h3, .loginPanel .fail .msg-block h3, .otpPanel .fail .msg-block h3, .passwordPanel .fail .msg-block h3, .queryPanel .fail .msg-block h3, .signupPanel .fail .msg-block h3 {
  color: red;
}

.container .fail .msg-block h4, .appointmentPanel .fail .msg-block h4, .loginPanel .fail .msg-block h4, .otpPanel .fail .msg-block h4, .passwordPanel .fail .msg-block h4, .queryPanel .fail .msg-block h4, .signupPanel .fail .msg-block h4 {
  color: red;
}

.container .pass, .appointmentPanel .pass, .loginPanel .pass, .otpPanel .pass, .passwordPanel .pass, .queryPanel .pass, .signupPanel .pass {
  border-left: 5px solid green;
}

.container .pass .fa-check-circle, .appointmentPanel .pass .fa-check-circle, .loginPanel .pass .fa-check-circle, .otpPanel .pass .fa-check-circle, .passwordPanel .pass .fa-check-circle, .queryPanel .pass .fa-check-circle, .signupPanel .pass .fa-check-circle {
  font-size: 2rem;
  color: green;
}

.container .pass .msg-block h3, .appointmentPanel .pass .msg-block h3, .loginPanel .pass .msg-block h3, .otpPanel .pass .msg-block h3, .passwordPanel .pass .msg-block h3, .queryPanel .pass .msg-block h3, .signupPanel .pass .msg-block h3 {
  color: green;
}

.container .pass .msg-block h4, .appointmentPanel .pass .msg-block h4, .loginPanel .pass .msg-block h4, .otpPanel .pass .msg-block h4, .passwordPanel .pass .msg-block h4, .queryPanel .pass .msg-block h4, .signupPanel .pass .msg-block h4 {
  color: green;
}
/*# sourceMappingURL=toaster.css.map */