<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/scss/theme.css">
    <link rel="stylesheet" href="../assets/scss/aboutUs.css">
</head>
<body>
    <%- include("headerMain") %>
    <div class="bannerPanel">
        <div class="container"><h1>Living Healthy Matters</h1>
        <p>Our Specialists aspire to bridge the gap between your benifits plan and the health needs.</p></div>
    </div>
    <div class="container contentPanel">
        <div>
        <h2>You have to begin to tell the story of your life as you now want it to be and discontinue the tales.</h2>
        <p>Deployment long tail monetarization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
        <p>Deployment long tail monetarization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
        <p>Deployment long tail monetarization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.</p>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="">
    </div>
    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="" id="doctor">
    </div>

<div class="checkupPanel">
        <video autoplay muted loop>
            <source src="../assets/images/doctor-video.mp4" type="video/mp4"> 
        </video>
        <div class="container aboutPanel">
    <div class="checkupContent">
        <h2>Your wellness builds upon the medical only.</h2>
        <p>Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition and diet, an active lifestyle, and better relationships</p>
        <button>Get a Free Checkup</button>
    </div>
        <div class="assets">
            <div class="asset-1">
                <h2>12M</h2>
                <h4>Happy Patients</h4>
            </div>
            <div class="asset-2">
                <h2>5K</h2>
                <h4>Medical Assistants</h4>
            </div>
            <div class="asset-3">
                <h2>9.8</h2>
                <h4>Alexa Score</h4>
            </div>
            <div class="asset-4">
                <h2>3.2</h2>
                <h4>Doctors Available</h4>
            </div>
            <div class="asset-5">
                <h2>45K</h2>
                <h4>Cure Rate</h4>
            </div> 
            <div class="asset-6">
                <h2>75</h2>
                <h4>Health Points</h4>
                </div>
</div></div></div>
<div class="container footerHead">
    <div><h2>Join our team</h2>
    <p>We are always looking for good and talented people.</p></div>
    <Button>Submit your CV</Button>
</div>
<%- include("footer") %>
  
</body>
</html>