<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/scss/theme.css">
    <link rel="stylesheet" href="../assets/scss/dentistry.css">
</head>
<body>
    <%- include("headerMain") %> 
    <div class="container bannerPanel">
        <div><h1>Dentistry</h1>
        <h4>Home/Dentistry</h4></div>
    </div>
    <div class="container aboutPanel">
        <h2>Vaccination</h2>
        <div class="about-list">
       <div class="content"> 
           <div class="about">
               <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg" alt="">
       <div>
            <h3>About Dentist Department</h3>
        <p>The vaccination of dentist against various vaccine-preventable infections is the most important measure of primary prvention against such diseases which would otherwise prove fatal for both the dentist and their patients.</p>
        <ul>
            <li><h4>CF-related diabetes (monthly)</h4></li>
            <li><h4>Gastriointestinal (monthly)</h4></li>
            <li><h4>CF-related liver disease (monthly)</h4></li>
            <li><h4>Sweat testing (three times per month)</h4></li>
        </ul>
    </div>
</div>
            <div class="treatment">
                <div><i class="fa fa-stethoscope" aria-hidden="true"></i>
            <h3>Central Nervous System</h3>
            <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p></div>
            <div><i class="fas fa-tablets"></i>
           <h3>Allergic Disorders</h3>
            <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p></div>
        
           <div><i class="fa fa-heartbeat" aria-hidden="true"></i>
            <h3>Neoplastic Disorders</h3>
            <p>Open visitation with only two visitors in a room at any time. No one under 12 years of age may.</p></div></div></div> 
      <div class="detail">
           <div><h3>Service Details</h3>
        <ul>
            <li><h4>Price</h4><span>from $340</span></li>
            <li><h4>Duration</h4><span>10 minutes</span></li>
            <li><h4>office</h4><span>#46</span></li>
            <li><h4>Doctor</h4><span>Dr. Elizabeth Beard</span></li>
            <li><h4>Categories</h4><span>Family Medicine</span></li></div>
        </ul>
         <div id="schedule">
        <h3>Schedule</h3>
        <ul>
            <li><h4>Tuesday</h4><span>10:00am - 01:00pm</span></li>
            <li><h4>Price</h4><span>07:00am - 10:00pm</span></li>
        </ul></div>
</div>
    </div></div>
    <div class="container servicePanel">
        <div class="headingServices">
        <h2>More Services</h2>
       <div> <i class="fa fa-chevron-left" onclick="prevslide()"></i>
        <i class="fa fa-chevron-right" onclick="nextslide()"></i></div></div>
        <div class="service">
    <div>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg">
                        <h3>Orthopedic Surgery</h3>
    </div>
    <div>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg">
                        <h3>Cancer</h3>
    </div>
    <div>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg">
                        <h3>Cardiology</h3>
    </div></div>
    <div class="service">
        <div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg">
                            <h3>Cardiology</h3>
        </div>
        <div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg">
                            <h3>Orthopedic Surgery</h3>
        </div>
        <div>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg">
                            <h3>Cancer</h3>
        </div></div>
        <div class="service">
            <div>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg">
                                <h3>Cancer</h3>
            </div>
            <div>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg">
                                <h3>Cardiology</h3>
            </div>
            <div>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg">
                                <h3>Orthopedic Surgery</h3>
            </div>
            </div>
    </div>   
    <script src="../assets/scripts/treatment_slides.js"></script>      
        <%- include("footer") %>
        
</body>
</html>