<!DOCTYPE html>
<html>
    <head>
        <%- include('links') %>   
        <link rel="stylesheet" href="../assets/scss/profile.css">
    </head>
    <body>
        <%- include('headerMain') %>
    </body>
    </html>