<div class="container footerMobile">
    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
    <a href="/doctor">Doctors</a>
    <a href="/hospital">Hospitals</a>
    <a href="/dentistry">Treatments</a>
    <a href="">Other Services</a>
    <a href="/FAQ">FAQs</a>
        <div><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://aboutme.google.com/u/0/"><i class="fa fa-google-plus-g" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
        <h4>All Rights Reserved. &copy; tvastra 2018</h4>
</div> 
    <div class="footerWeb">
        <div class="footer-section">
            <div class="page-links"><a href="/doctor">Doctors</a>
            <a href="/hospital">Hospitals</a>
            <a href="/dentistry">Treatments</a>
            <a href="">Other Services</a>
        <a href="/FAQ">FAQs</a></div>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
            <h4>All Rights Reserved. &copy; tvastra 2018</h4>
            <div class="social-links">
                <div>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://aboutme.google.com/u/0/"><i class="fa fa-google-plus-g" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></div></div>
        </div>
    </div>