<nav class="nav-mobile">
    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" id="logo">
    <i class="fa fa-bars" aria-hidden="true" id="bars"></i>
</nav>
<nav class="nav-query">
    <a href="/"  id="logo"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"></a>
   <div> <a href="doctor">Doctors</a>
    <a href="hospital">Hospitals</a>
    <a>Treatments</a>
    <a href="">Other Services</a>
    <a href="">About</a></div>
   <button id="logoutButton" onclick="location.href='logout'"><a  id="logout">Logout</a></button>
    <button id="quoteButton">Get a quote</button>
</nav>