<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/scss/theme.css">
    <link rel="stylesheet" href="../assets/scss/tvastraPlus.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
     <%- include("headerMain") %>
    <div class="plan_section container">
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp" alt="" id="background_img">
        <span class="plan_section_plus">PLUS</span>
        <h1>Healthcare Plans for you and your family.</h1>
        <p>Become a Tvastra Plus Member and save 60% off on your yearly health expenses</p>
        
        <div class="plans">
            <h2>Select a Tvastra Plus healthcare plan</h2>
            <p>All Plus plans are for 4 adults and two children</p>
            <div class="plansList">
            <div id="basic">
                <h3>Basic plan</h3>
                <div class="plansBenefits">
                    <h4>Unlimited Consultation with any speciality</h4>
                    <h4>20% off on prescription medicines</h4>
                    <h4>20% off on tests and checkups</h4>
                    <br>
                    <br>
                </div>
                <div class="buy_plan">
                    <h2><i class="fa fa-inr" aria-hidden="true"></i>2999<span>/year</span></h2>
                    <h4>View Plan details</h4>
                    <Button>Buy Plan</Button>
                </div>
            </div>
            <div id="advanced">
                <h4 id="popular">Popular</h4>
                <h3>Advanced plan</h3>
                <div class="plansBenefits">
                    <h4>Unlimited Consultation with any speciality</h4>
                    <h4>20% off on prescription medicines</h4>
                    <h4>20% off on tests and checkups</h4>
                    <h4>10 Free in-Clinic consultation</h4><br>
                </div>
                <div class="buy_plan">
                    <h2><i class="fa fa-inr" aria-hidden="true"></i>3999<span>/year</span></h2>
                    <h4>View Plan details</h4>
                    <Button>Buy Plan</Button>
                </div>
            </div>
            <div id="comprehensive"> 
                <h3>Comprehensive plan</h3>
                <div class="plansBenefits">
                    <h4>Unlimited Consultation with any speciality</h4>
                    <h4>20% off on prescription medicines</h4>
                    <h4>20% off on tests and checkups</h4>
                    <h4>10 Free in-Clinic consultation</h4>
                    <h4>2 Master health Checkups</h4>
                </div>
                <div class="buy_plan">
                    <h2><i class="fa fa-inr" aria-hidden="true"></i>5999<span>/year</span></h2>
                    <h4>View Plan details</h4>
                    <Button>Buy Plan</Button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="review_section container">
        <h2>Trusted by 2 Crore+ users every month</h2>
        <p>Tvastra is a leading healthcare technology company in india. We began in 2009 and today we help 2 crore customers every month.</p>
        <ul id="rating_section">
            <li id="stars"><h1>4.5</h1> <div><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></div><h4>1000+ reviews</h4></li>
            <li id="review_per_star"><h3 id="review5">5</h3><h3 id="review4">4</h3><h3 id="review3">3</h3><h3 id="review2">2</h3><h3 id="review1">1</h3></li>
        </ul>
        <ul id="features_section">
            <li><i class="fas fa-users"></i><h3>2 Crore+</h3><h4>Monthly Customers</h4></li>
            <li><i class="fas fa-user-md"></i><h3>100,000+</h3><h4>Verified Doctors</h4></li>
            <li><i class="fas fa-pills"></i><h3>10 Lakh+</h3><h4>Medicine Orders Delivered</h4></li>
            <li><h3>5 Crore+ </h3><h4>Doctors Appoinments</h4></li>
        </ul>
    </div>
    <div class="benefits_section container">
        <h4>Benefits of Plus Membership</h4>
        <div class="benefitsList">
        <ul class="consultation">
            <h2>Zero fees for in-clinic consultaion</h2>
            <li><i class="fas fa-check-circle"></i><p>Consult with 30000+ specialist doctors at clincs & hospitals in the Plus network at Rs.0 consultaion fees*</p></li>
            <li><i class="fas fa-check-circle"></i><p>Upto 10 in-clinic consultations can be used by any family member over 12 month period.</p></li>
        </ul>
        <div class="hospitals">
            <h2>Top Hospitals Onboarded</h2>
            <ul>
                <li style="border-right:1px solid #80B9D8; border-bottom: 1px solid #80B9D8;"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt=""></li>
                <li style="border-bottom: 1px solid #80B9D8;"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt=""></li>
                <li style="border-right:1px solid #80B9D8; border-bottom: 1px solid #80B9D8;"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt=""></li>
                <li style="border-bottom: 1px solid #80B9D8;"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt=""></li>
                <li style="border-right: 1px solid #80B9D8;"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt=""></li>
                <li><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt=""></li>
            </ul>
            <h4>+More Hospitals</h4>
        </div>
        </div>
    </div>
    <div class="advantages_section container">

            <div class="advantage_1">
                
                <ol>
                    <h2>Unlimited online consultaions with top doctors</h2>
                    <li><i class="fas fa-check-circle"></i><p>Get all your health query answered from any specialist online, any time of the day</p></li>
                    <li><i class="fas fa-check-circle"></i><p>Connect under 2 minutes on text, call or video - available 24 hrs, 7 days of the week</p></li>
                    <li><i class="fas fa-check-circle"></i><p>All online consultaions are confidential. Only patient and doctor can access the chat</p></i></li>
                </ol>
                <img src="../assets/images/TvastraPlus.png">
            </div>
        
            
            <div class="advantage_2">
                
                <ol>
                    <h2>Flat 20% off on prescription medicine, lab tests & checkups</h2>
                    <li><i class="fas fa-check-circle"></i><p>Save money on medicines and lab tests for your entire family</p></li>
                    <li><i class="fas fa-check-circle"></i><p>Get flat 20% off on medicines that require prescription & flat 20% on health checkups and lab tests</p></li>
                    <li><i class="fas fa-check-circle"></i><p>No questions asked. No minimum order values, no limits, available in 100+ cities across india</p></li>
                </ol>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg">
            </div>
      
            
            <div class="advantage_3">
                
                <ol>
                    <h2>2 Free health checkups</h2>
                    <li><i class="fas fa-check-circle"></i><p>Discuss your test results with doctors through online consultaions. Recieve E-Report within 48 hrs.</p></li>
                    <li><i class="fas fa-check-circle"></i><p>Home sample pickup</p></li>
                    <li><i class="fas fa-check-circle"></i><p>Tabs are NABL CAP Accredited</p></li>
                    <li><i class="fas fa-check-circle"></i><p>Checkups can be booked anytime, even weekend. Tax deductible under 80D.</p></li>
                </ol>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg">
            </div>
        </div>
    
    <div class="tests_section container">
        <h3>60 Tests included</h3>
        <ol>
            <li><div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt=""></div><h3>Vitamin Profile</h3><h4>2 tests</h4></li>
            <li><div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt=""></div><h3>Iron Deficiency Profile</h3><h4>3 Tests</h4></li>
            <li><div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt=""></div><h3>Thyroid Profile</h3><h4>3 Tests</h4></li>
            <li><div><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt=""></div><h3>Liver Profile</h3><h4>11 Tests</h4></li>
        </ol>
        <div id="dots">
        <i class="fas fa-circle" style="color: #0173B2;text-align: right;"></i>
        <i class="fas fa-circle" style="color: #cccccc;text-align: left;"></i>
    </div>
    </div>
    <div class="customer_review_section container">
       <div class="customer_review_section_header"> <h2>Why we love Tvastra</h2>
        <span>PLUS</span></div>
        <div class="customerReview">
        <div>
            <p>"Wonderful experience with Tvastra Plus it help me in saving a lot of amount as it provides free consultations with doctors."</p>
            <ul>
            <li><img src="http://www.talismanian.com/wp-content/uploads/2018/02/Rishabh-Tiwari.jpg" alt=""></li>
            <li><h3>Rishab Tiwari</h3>
            <h4>Advanced Plan User</h4></li>
            </ul>
        </div>
        <div>
            <p>"Fantastic experience with health test using Tvastra Plus. Didn't pay anything for the test. I came to know my deficiency in vitamin where family doctor feature help me with medicine."</p>
            <ul>
            <li><img src="https://avatars0.githubusercontent.com/u/22663431?s=400&u=e9b47fb8cf224dc08a7f64cee65688bd1e9cc025&v=4" alt=""></li>
            <li><h3>Mini Agarwal</h3>
            <h4>Comprehensive Plan User</h4></li>
            </ul>
        </div>
        <div>
            <p>"24x7 access to doctors in just 60 seconds with 2 kids one of them bound to fall sick. Comes in super handy"</p>
            <ul>
            <li><img src="https://www.mclaren.org/Uploads/Public/Images/smiling-doctor.jpg" alt=""></li>
            <li><h3>Prachi Gupta</h3>
            <h4>Comprehensive Plan User</h4></li>
            </ul>
            </div>
    </div>
</div>
<div class="faq_section container">
    <h2>Frequently Asked Questions</h2>
    <ul>
        <li class="list">
            <div><h3>How does free in-clinic consultaion with doctors and hospitals work?</h3>
            <i class="fas fa-chevron-down info-down" onclick="showInfo(1)"></i>
                        <i class="fas fa-chevron-up info-up" onclick="hideInfo(1)"></i></div>
        </li>
        <li class="list">
           <div><h3>Are there any type of doctors or not included in Tvastra Plus in-clinic consultaion network?</h3>
            <i class="fas fa-chevron-down info-down" onclick="showInfo(2)"></i>
                        <i class="fas fa-chevron-up info-up" onclick="hideInfo(2)"></i></div>
        </li>
        <li class="list">
           <div> <h3>How do the unlimited online consultaion work?</h3>
            <i class="fas fa-chevron-down info-down" onclick="showInfo(3)"></i>
                        <i class="fas fa-chevron-up info-up" onclick="hideInfo(3)"></i></div>
        </li>
        <li class="list">
            <div><h3>How does 20% off on medicines work?</h3>
            <i class="fas fa-chevron-down info-down" onclick="showInfo(4)"></i>
                        <i class="fas fa-chevron-up info-up" onclick="hideInfo(4)"></i></div>
        </li>
        <li class="list">
           <div><h3>How does 20% off on lab tests work?</h3>
            <i class="fas fa-chevron-down info-down" onclick="showInfo(5)"></i>
                        <i class="fas fa-chevron-up info-up" onclick="hideInfo(5)"></i></div>
        </li>
    </ul>
</div>
<script src="../assets/scripts/questionInfo.js"></script>
<%- include("footer") %>    
</body>
</html> 