
.passwordPanel {
	background-color: #9cbfda; height: 100vh;
	position: relative;
	.copyright{
		text-align: center;
			width: 100%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 1rem;
				padding-bottom: 0rem;
				font-size: 0.7rem;
				font-weight: 900;
				color: black;
			}
	.passwordForm {
		position: absolute;
		max-width: 20rem;
		top: 65%;
		left: 50%;
		width: 90%;
		transform: translate(-50%,-65%);
		box-shadow: 0px 0px 10px black;
		text-align: center;
		background-color: white;
		h3 {
			padding: 1rem 0rem 0rem 0rem;
			color: #4297C9;
		}
		form {
			padding: 0rem 1rem;
			.password_input {
				margin-bottom: 0.5rem;
				position: relative;
				.far {
					position: absolute;
					cursor: pointer;
					right: 5%;
					top: 50%;
					-webkit-transform: translate(-5%, -50%);
					transform: translate(-5%, -50%);
					color: #4297C9;
				}
				.fa-eye-slash {
					display: block;
					font-weight: 900;
				}
				.fa-eye {
					display: none;
				}
			}
			.submit-btn {
				width: 100%;
				margin-top: 2rem;
				position: relative;
				margin-bottom: 2rem;
				letter-spacing: 3px;
				i {
					position: absolute;
					top: 50%;
					right: 5%;
					-webkit-transform: translate(-5%, -50%);
					transform: translate(-5%, -50%);
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) {
	.passwordPanel {
		.passwordForm{
			width: 20rem;
		}
	}
}
@media only screen and (min-width: 1024px) {
	.passwordPanel {
		.copyright{
			font-size: 0.8rem;
		}
		.passwordForm {
			width: 25rem;
			max-width: 25rem;
			.password_input {
				.far {
					font-size: 1.2rem;
				}
			}
			h3 {
				padding: 1.5rem 0rem 0.5rem 0rem;
			}
		}
	}
}
