body {
  background-color: #F5F5F5;
  position: relative;
}

body #add_report_section {
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
  top: 0rem;
  left: 0rem;
  background-color: rgba(0, 0, 0, 0.5);
}

body #add_report_section .add_report_box {
  background-color: #F5F5F5;
  padding: 1rem 0.5rem;
  margin: 1rem;
}

body #add_report_section .add_report_box .submit_section {
  margin-top: 1rem;
  padding: 0rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #add_report_section .add_report_box .submit_section div {
  display: block;
  width: 33.33%;
}

body #add_report_section .add_report_box .submit_section button {
  width: auto;
  padding: 0.5rem;
  border-radius: 4px;
}

body #add_report_section .add_report_box .submit_section #cancel_btn {
  background-color: #FF6347;
  color: white;
  display: block;
  margin: 0rem auto;
  font-weight: 100;
  font-size: 0.8rem;
}

body #add_report_section .add_report_box .submit_section #done_btn {
  background-color: #4297C9;
  color: white;
  display: block;
  margin-left: auto;
  font-weight: 100;
  font-size: 0.8rem;
}

body #add_report_section .add_report_box .report_details {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #dddfe2;
}

body #add_report_section .add_report_box .report_details #name, body #add_report_section .add_report_box .report_details #title {
  margin-bottom: 0.5rem;
}

body #add_report_section .add_report_box .report_details input {
  width: 90%;
  padding: 0.75rem 5%;
}

body #add_report_section .add_report_box .report_type_section {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #dddfe2;
}

body #add_report_section .add_report_box .report_type_section h3 {
  color: #4297C9;
  font-size: 1.2rem;
}

body #add_report_section .add_report_box .report_type_section .report_type {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

body #add_report_section .add_report_box .report_type_section .report_type div {
  text-align: center;
}

body #add_report_section .add_report_box .report_type_section .report_type div input {
  display: none;
}

body #add_report_section .add_report_box .report_type_section .report_type div label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #add_report_section .add_report_box .report_type_section .report_type div label i {
  font-size: 1.2rem;
  color: #808080;
  padding: 1rem 0rem;
}

body #add_report_section .add_report_box .report_type_section .report_type div label span {
  color: #808080;
  font-size: 1rem;
  padding-bottom: 1rem;
}

body #add_report_section .add_report_box .report_type_section .report_type div input:checked + label {
  background-color: #9cc0da;
}

body #add_report_section .add_report_box .report_type_section .report_type div:hover {
  background-color: #ADD8E6;
}

body #add_report_section .add_report_box .add_report_photo {
  padding: 1rem 0.5rem;
  background-color: #D3D3D3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #add_report_section .add_report_box .add_report_photo ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #add_report_section .add_report_box .add_report_photo ul li {
  margin: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 5.5rem;
  height: 5.5rem;
}

body #add_report_section .add_report_box .add_report_photo ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body #add_report_section .add_report_box .add_report_photo div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #404040;
}

body #add_report_section .add_report_box .add_report_photo div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #add_report_section .add_report_box .add_report_photo div label input {
  display: none;
}

body #add_report_section .add_report_box .add_report_photo div label i {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  color: white;
}

body #add_report_section .add_report_box .add_report_photo div label h4 {
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: 100;
}

.web_dashboard {
  display: none;
}

section {
  padding: 1rem;
  background-color: #F5F5F5;
}

section .container_box {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

section .container_box .dashboard h1 {
  text-align: center;
}

section .container_box .dashboard .mobile_dashboard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container_box .dashboard .mobile_dashboard h3 {
  padding-bottom: 0rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #4297C9;
}

section .container_box .dashboard .mobile_dashboard h3 i {
  padding-right: 0.5rem;
}

section .container_box .medicalReports {
  padding: 1rem 0.5rem;
  border: 1px solid #dddfe2;
}

section .container_box .medicalReports_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddfe2;
}

section .container_box .medicalReports_header h1 {
  padding: 0rem;
}

section .container_box .medicalReports_header button {
  width: auto;
  padding: 0.5rem 0.25rem;
  font-size: 0.9rem;
  background-color: #4297C9;
  display: block;
  margin-left: auto;
}

section .container_box .medicalReports ul {
  margin-top: 1rem;
}

section .container_box .medicalReports ul li {
  padding: 0.5rem;
  background-color: #F5F5F5;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 2.5rem;
  }
  section .container_box {
    padding: 2rem;
  }
  section .container_box .mobile_dashboard i {
    font-size: 1.3rem;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    position: relative;
  }
  body #add_report_section .add_report_box {
    position: absolute;
    width: 28rem;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: auto;
  }
  body #add_report_section .add_report_box .add_report_photo {
    width: 26rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
  body #add_report_section .add_report_box .submit_section div {
    display: block;
    width: 50%;
  }
  body #add_report_section .add_report_box .submit_section button {
    width: auto;
  }
  body #add_report_section .add_report_box .report_type_section .report_type {
    grid-gap: 1rem;
  }
  body #add_report_section .add_report_box .report_type_section .report_type div label i {
    font-size: 1.2rem;
  }
  body #add_report_section .add_report_box .report_type_section .report_type div label span {
    font-size: 0.9rem;
  }
  body #add_report_section .add_report_box .add_report_photo div label i {
    font-size: 1.2rem;
  }
  body #add_report_section .add_report_box .add_report_photo div label h4 {
    font-size: 0.9rem;
  }
  .web_dashboard {
    display: block;
  }
  section {
    padding: 4rem;
    background-color: white;
    -webkit-box-shadow: inset 0rem 0.5rem 1rem -0.5rem #dddfe2;
            box-shadow: inset 0rem 0.5rem 1rem -0.5rem #dddfe2;
  }
  section .container_box {
    min-height: 71vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 10fr;
        grid-template-columns: 3fr 10fr;
    grid-gap: 3rem;
    border-radius: 0px;
    padding: 0rem;
  }
  section .container_box .dashboard .mobile_dashboard {
    display: none;
  }
  section .container_box .dashboard h2 {
    text-align: left;
    padding-bottom: 3rem;
  }
  section .container_box .dashboard .web_dashboard a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .container_box .dashboard .web_dashboard a h4, section .container_box .dashboard .web_dashboard a h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
  section .container_box .dashboard .web_dashboard a h4 i, section .container_box .dashboard .web_dashboard a h3 i {
    color: #4297C9;
    padding-right: 0.5rem;
  }
  section .container_box .dashboard .web_dashboard a h3 {
    color: #4297C9;
  }
  section .container_box .dashboard .web_dashboard a h4:hover, section .container_box .dashboard .web_dashboard a h3:hover {
    background-color: #dddfe2;
    padding-left: 0.5rem;
    border-left: 4px solid #4297C9;
    cursor: pointer;
  }
  section .container_box .medicalReports {
    border: 0px;
    padding: 0rem;
  }
  section .container_box .medicalReports_header h2 {
    padding: 0rem;
  }
  section .container_box .medicalReports_header button {
    font-size: 0.9rem;
    padding: 0.75rem;
    font-weight: 900;
    border-radius: 0.25rem;
  }
  section .container_box .medicalReports ul {
    background-color: #F5F5F5;
    padding-top: 1.5rem;
  }
  section .container_box .medicalReports ul .confirmation_form {
    display: none;
    background-color: white;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 1000;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 35rem;
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content h2 {
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #80808F;
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content h3 {
    font-size: 1.3rem;
    color: #80808F;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #80808F;
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content .confirmation_box {
    padding: 0.5rem 1rem;
    padding-bottom: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content .confirmation_box .no button {
    margin-left: auto;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: #4297C9;
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content .confirmation_box .yes {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 1rem;
  }
  section .container_box .medicalReports ul .confirmation_form .confirmation_form_content .confirmation_box .yes button {
    display: block;
    margin-left: auto;
    border-radius: 4px;
    background-color: #FF6347;
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
  }
  section .container_box .medicalReports ul li {
    padding: 0rem 1rem 0.5rem 1rem;
  }
  section .container_box .medicalReports ul li .report_box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #80808F;
    border-radius: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 6fr 2fr;
        grid-template-columns: 2fr 6fr 2fr;
    grid-column-gap: 1rem;
  }
  section .container_box .medicalReports ul li .report_box .date {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0rem;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  section .container_box .medicalReports ul li .report_box .date h3 {
    padding: 0rem;
    font-size: 1.2rem;
  }
  section .container_box .medicalReports ul li .report_box .reportSignatures h3 {
    font-size: 1rem;
    color: #80808F;
  }
  section .container_box .medicalReports ul li .report_box .delete-btn {
    font-size: 0.8rem;
    background-color: #4297C9;
    padding: 0.75rem .5rem;
    width: auto;
    margin-left: auto;
    border-radius: 0.25rem;
  }
}
/*# sourceMappingURL=medicalReports.css.map */