.otpPanel {
	background-color: #9cbfda;
	height: 100vh;
		position: relative;
		.copyright{
			text-align: center;
			width: 100%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 1rem;
				padding-bottom: 0rem;
				font-size: 0.7rem;
				font-weight: 900;
				color: black;
		}
	.otpForm {
		width: 90%;
		position: absolute;
		top: 60%;
		max-width: 20rem;
		left: 50%;
		transform: translate(-50%,-60%);
		text-align: center;
		box-shadow: 0px 0px 10px black;
		background-color: white;
		h3 {
			padding: 1rem 0rem 0rem 0rem;
			color: #0173b2;
		}
		form {
			padding: 0rem 1rem;
			p {
				padding-bottom: 0rem;
				font-size: 0.7rem;
			}
			#otp-input {
				margin: 0rem 2rem;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-column-gap: 1rem;
				input {
					border: 0px;
					border-radius: 0px;
					color: #0173b2;
					text-align: center;
					border-bottom: 2px solid #0173b2;
					&:focus {
						outline: none;
					}
				}
			}
			#resend {
				background: transparent;
				height: auto;
				padding: 0rem;
				margin: 0rem;
				cursor: pointer;
				width: auto;
				h3 {
					padding-top: 1rem;
					font-size: 0.7rem;
				}
			}
			#change-btn {
				width: 100%;
				margin-top: 1rem;
				position: relative;
				margin-bottom: 2rem;
				letter-spacing: 3px;
				i {
					position: absolute;
					top: 50%;
					right: 5%;
					transform: translateY(-50%);
				}
			}
			h4 {
				padding-bottom: 1rem;
				padding-top: 0rem;
				font-size: 0.7rem;
				a {
					color: #0173b2;
					font-weight: 900;
					font-size: 0.7rem;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) {
	.otpPanel {
	.otpForm{
		width: 20rem;
	}
	}
}
@media only screen and (min-width: 1024px) {
	.otpPanel {
		.copyright{
			font-size: 0.8rem;
		}
		.otpForm {
			width: 25rem;
			max-width: 25rem;
			h3{
				padding: 1.5rem 0rem 0.5rem 0rem;
			}
			form {
				p{
					font-size: 0.8rem;
				}
				#resend{
					h3{
						font-size: 0.85rem;
					}
				}
				#otp-input {
					margin: 0rem 4rem;
					input {
						border: 0px;
						font-size: 1.5rem;
						text-align: center;
						border-bottom: 2px solid #0173b2;
					}
				}
				h4 {
					font-size: 0.8rem;
					a {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}
